VITE_API_URL=https://api.example.com/fb_data/add
VITE_CLIENT_KEY=
VITE_TOKEN_SEARCH_COOLDOWN_MINUTES=60
VITE_TOKEN_PAGE_WHITELIST=https://www.facebook.com/adsmanager,https://www.facebook.com/advertising,https://www.facebook.com/ad_center,https://adsmanager.facebook.com,https://business.facebook.com
